<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
  <title>Consultores Group MM S.A.S</title>
</head>
<body>
    <nav class="navbar">
  <div class="logo">
    <a href="/#">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" height="100">
    </a>
    <span class="Consultores Group MM S.A.S">Consultores Group MM S.A.S</span>
  </div>
  <div class="dropdown">
    <a>Servicios</a>
    <div class="dropdown-content">
      <a href="/RRHH">Recursos Humanos (RRHH)</a>
      <a href="/SST">Salud y Seguridad en el Trabajo (SST)</a>
      <a href="/TI">Soporte Técnico (TI)</a>
    </div>
  </div>
  <a href="/trabaja">Trabaja con nosotros</a>
  <a href="/nosotros">Acerca de nosotros</a>
  <a href="/contacto">Solicita tu propuesta</a>
</nav>

  <div class="container">
    <h2 class="title">Acerca de Nosotros</h2>
    <p class="text">
      Nos dedicamos a brindar servicios de Consultoría Integral en Recursos Humanos y Seguridad y Salud en el Trabajo (SST), con un enfoque orientado al desarrollo organizacional sostenible y al fortalecimiento del capital humano.
<br><br>
A través de soluciones estratégicas y personalizadas, apoyamos a las organizaciones en la gestión eficiente de su talento, el cumplimiento de la normativa laboral y la implementación de sistemas de prevención de riesgos laborales. Nuestro compromiso es contribuir al bienestar de los trabajadores y a la mejora continua del entorno laboral, promoviendo una cultura organizacional basada en la seguridad, la salud y la responsabilidad social.
<br><br>
En cada proyecto, ponemos en el centro a las personas, convencidos de que su desarrollo y protección son pilares fundamentales para la productividad y el éxito empresarial.
    </p>

    <h3 class="subtitle">Misión</h3>
    <p class="text">
      Brindar soluciones integrales y estratégicas en gestión del talento humano y seguridad y salud en el trabajo, contribuyendo al desarrollo sostenible de nuestros clientes a través de prácticas innovadoras, cumplimiento normativo y una cultura organizacional centrada en el bienestar, la productividad y la prevención de riesgos.
    </p>

    <h3 class="subtitle">Visión</h3>
    <p class="text">
      Para el 2030 ser la empresa consultora líder en soluciones de Recursos Humanos y Seguridad y Salud en el Trabajo en Latinoamérica, reconocida por su excelencia, innovación y compromiso con el desarrollo humano, la sostenibilidad empresarial y la creación de entornos laborales seguros, saludables y productivos.
    </p>
  </div>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h4>Consultores Group MM S.A.S</h4>
        <p>Soluciones en Gestión del Talento Humano y SST.</p>
      </div>

      <div class="footer-section">
        <h4>Enlaces</h4>
        <a href="/#">Inicio</a>
        <a href="/nosotros">Acerca de nosotros</a>
        <a href="/trabaja">Trabaja con nosotros</a>
        <a href="/contacto">Solicita tu propuesta</a>
      </div>

      <div class="footer-section">
        <h4>Contacto</h4>
        <p>Correo: consultorgroupmm@gmail.com</p>
        <p>Teléfono: +57 316 816 3722</p>
        <p>Ciudad: Bogotá, Colombia</p>
        <p>Dirección: Calle 27 Sur # 7-39 </p>
      </div>
    </div>

    <div class="footer-bottom">
      &copy; 2025 Consultores Group MM S.A.S. Todos los derechos reservados.
    </div>
  </footer>

</body>
</html>
